<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  {{message}}
  <a href="{{url}}">Vissza a kezdőoldalra</a>
  <a href="{{url}}/login">Bejelentkezés</a>
  <a href="{{url}}/registration">Regisztráció</a>
</body>
</html>